<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'demo_app/site.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
</head>

<body>
<div class="navbar">
    <div class="navbar-left">
        <a href="{% url 'home' %}" class="navbar-brand">Home</a>
        <a href="{% url 'database' %}" class="navbar-brand">Database</a>
    </div>
    <div class="navbar-right">
        {% if user.is_authenticated %}
            <a class="navbar-brand">Welcome, {{ user.username }}! </a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}" class="navbar-brand">Login</a> <!-- The next = {{ request.path }} captures the path the request to login was made from, the next is then used to return the user to where they came from -->
            <a href="{% url 'signup' %}" class="navbar-brand">Sign Up</a>
        {% endif %}
    </div>
</div>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
</div>
</body>
</html>
