<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'demo_app/site.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
</head>

<body>
<div class="navbar">
    <div class="navbar-left">
        <a href="{% url 'home' %}" class="navbar-brand">Home</a>
        <a href="{% url 'database' %}" class="navbar-brand">Database</a>
    </div>
    <div class="navbar-right">
        <a href="{% url 'login' %}" class="navbar-brand">Login</a>
        <a href="{% url 'signup' %}" class="navbar-brand">Sign Up</a>
    </div>
</div>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
</div>
</body>
</html>
