.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(37, 116, 196);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 8px 5px;
}

.navbar-left,
.navbar-right {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    padding-right: 15px;
}

.body-content {
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

input[name=message] {
    width: 80%;
}

.cars_table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 5px;
}

td {
    text-align: left;
    padding: 5px;
}